PROJECT_NAME=lab-platform

POSTGRES_DB=lptdb
POSTGRES_USER=lptsql
POSTGRES_PASSWORD=3x/2Ccy^{c{!FE%mM}jX

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=lptdb
DB_USER=lptsql
DB_PASSWORD=3x/2Ccy^{c{!FE%mM}jX

LOGIN_SERVER_PORT=8080
DASHBOARD_SERVER_PORT=8090
LIVELINK_FEED_PORT=9000

TZ=Europe/Copenhagen


